:root{
    --vermelho: #e76763;
    --vermelho_escuro: #ec4c47;
    --ripple: #f50800;
    --branco: #ffffff;
    --cinza: #c5c3c3;
    --cinza_escuro: #948c8c;
    --preto: #000000;
    --verde: #01b301;
}

@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap');

body{
    font-family: "Radio Canada", sans-serif;
}

.title{
    text-align: center;
}

.Searchbar{
    padding-top: 20px;
    padding-bottom: 5px;
}

.Searchbar #Searchinput{
    background: var(--cinza);
    width: 97%;
    height: 45px;
    margin-left: 5px;
    border-radius: 20px;
}

.Searchbar input{
    padding-top: 15px;
    padding-left: 30px;
    width: 100%;
    color: #000000;
}

.Searchbar i{
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    top: 28px;
    left: 15px;
}

#None_Books{
    color: var(--cinza);
    font-size: 200px;
    padding-left: 80px;
    margin: 0;
}

#None_Books_text{
    color: var(--cinza);
    padding-left: 25px;
}

.buttom{
    background: var(--vermelho);
    margin: 20px;
    height: 40px;
    border-radius: 20px;
    color: var(--branco);
    padding-top: 10px;
    text-align: center;
    font-size: large;
}

#delete-buttom{
    background: var(--cinza);
    margin: 20px;
    height: 40px;
    border-radius: 20px;
    color: var(--ripple);
    padding-top: 10px;
    text-align: center;
    font-size: large;
}

#delete-buttom:hover{
    background: var(--vermelho_escuro);
}

.buttom:hover{
    background: var(--vermelho_escuro);
}

.Options-Buttons{
    position: absolute;
    z-index: 1;
    top: 600px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
}

.Create-Button, .Edit-Button, .Delete-Button{
    display: flex;
    background: var(--cinza);
    margin-right: 20px;
    width: 70px;
    border-radius: 15px;
    text-align: center;
    font-weight: bold;
    font-size: medium;
    color: var(--preto);
    padding: 10px;
    align-content: center;
}

.Create-Button:hover, .Edit-Button:hover, .Delete-Button:hover{
    background: var(--cinza_escuro);
}

.Edit-Button{
    margin-left: 15px;
}

.Delete-Button{
    width: 80px;
    margin-left: 3px;
}
.Create-Button i, .Edit-Button i, .Delete-Button i{
    font-weight: bold;
    font-size: large;
}

#Cancel-Button{
    width: 85px;
    margin-left: 120px;
}

/* Framework7 Tags */
.toolbar{
    height: 80px;
    position: relative;
}

.tab-link{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    color: rgb(255, 255, 255);
}

.tab-link .ripple-wave {
    background: var(--vermelho_escuro);
}

.toolbar-inner{
    background: var(--vermelho);
    border-top: 1px solid var(--cinza);
}

.toolbar-inner .link{    
    flex:1;
    height: 80px;  
    line-height: 25px; 
	font-weight:bold;   
    color: var(--preto); 
}

.toolbar-inner .link:not(.active){
    color: var(--branco);
	font-weight:normal;
}

.toolbar-inner > .link i{
    font-size: 28px;
}

.page-content{
    position: relative;
    z-index: 0;
    height: 70%;
}