.navbar-inner #back-arrow{
    position: absolute;
    padding-left: 5px;
    padding-right: 5px;
    left: 0;
    font-size: 30px;
    text-align: center;
    border-radius: 100%;
    /* background-color: var(--cinza_escuro) */
    background: none;
}

.link .ripple-wave{
    --f7-touch-ripple-color: var(--cinza);
}

.navbar-inner .title{
    margin-left: 40px;
    margin-right: 40px;
}

#None_Books{
    color: var(--cinza);
    font-size: 200px;
    padding-left: 80px;
    margin: 0;
}

#None_Books_text{
    color: var(--cinza);
    padding-left: 25px;
}

.buttom-session{
    background: var(--vermelho);
    margin: 20px;
    border-radius: 20px;
    color: var(--branco);
    padding: 10px;
    text-align: left;
    font-weight: bold;
    font-size: large;
}

#edit-buttom-session{
    background: var(--preto_cinza);
    color: yellow;
}

#delete-buttom-session{
    background: var(--cinza);
    color: var(--ripple);
}

.buttom-session:hover{
    background: var(--vermelho_escuro);
}

.buttom-session h4{
    margin: 0;
    font-weight: lighter;
}

.buttom-session h3{
    margin: 0;
}

#Options-Buttons-sessions{
    top: 680px;
}

#page-content-sessions{
    margin-top: 110px;
    height: 73%;
}

#titulo{
    font-size: 30px;
    color: var(--vermelho);
    position: absolute;
    z-index: 1;
    top: 40px;
    left: 115px;
}

@media (max-width:450px) and (min-width:370px) {
    #Options-Buttons-sessions{
        top: 850px;
    }
    .Create-Button, .Edit-Button, .Delete-Button{
        margin-right: 20px;
        width: 70px;
        font-size: larger;
    }
    .Edit-Button{
        margin-left: 40px;
    }
    .Delete-Button{
        width: 80px;
        margin-left: 30px;
    }
    .Create-Button i, .Edit-Button i, .Delete-Button i{
        font-size: larger;
    }
}

@media (min-width:540px){
    #Options-Buttons-sessions{
        top: 650px;
    }
    .Create-Button, .Edit-Button, .Delete-Button{
        margin-left: 15px;
        margin-right: 20px;
        width: 100px;
        font-size: x-large;
    }
    .Edit-Button{
        margin-left: 40px;
    }
    .Delete-Button{
        width: 120px;
        margin-left: 30px;
    }
    .Create-Button i, .Edit-Button i, .Delete-Button i{
        font-size: larger;
    }
    #page-content-sessions{
        height: 90%;
    }
}

@media (max-width:300px){
    #Options-Buttons-sessions{
        top: 600px;
    }
    .Create-Button, .Edit-Button, .Delete-Button{
        margin-left: 0px;
        margin-right: 20px;
        width: 50px;
        font-size: small;
    }
    .Edit-Button{
        margin-left: 3px;
    }
    .Delete-Button{
        width: 56px;
        margin-left: 3px;
    }
    .Create-Button i, .Edit-Button i, .Delete-Button i{
        font-size: small;
    }
    #page-content-sessions{
        height: 91%;
    }
    .buttom-session{
        font-size: small;
    }
}

@media (max-width:360px){
    #Options-Buttons-sessions{
        top: 680px;
    }
    .Create-Button, .Edit-Button, .Delete-Button{
        margin-left: 3px;
        margin-right: 41px;
        width: 60px;
        font-size: medium;
    }
    .Edit-Button{
        margin-left: 3px;
    }
    .Delete-Button{
        width: 70px;
        margin-left: 3px;
    }
    .Create-Button i, .Edit-Button i, .Delete-Button i{
        font-size: medium;
    }
    .buttom-session{
        font-size: medium;
    }
}

@media (height:740px){
    #Options-Buttons-sessions{
        top: 690px;
    }
}

@media (max-height:650px){
    #Options-Buttons-sessions{
        top: 605px;
    }
    .Create-Button, .Edit-Button, .Delete-Button{
        margin-left: 0px;
        margin-right: 26px;
        width: 60px;
        font-size: medium;
    }
    .Delete-Button{
        width: 70px;
    }
}
