:root{
    --vermelho: #e76763;
    --branco: #ffffff;
    --cinza: #c5c3c3;
    --cinza_escuro: #948c8c;
    --preto: #000000;
}

.navbar-inner #back-arrow{
    position: absolute;
    padding-left: 5px;
    padding-right: 5px;
    left: 0;
    font-size: 30px;
    text-align: center;
    border-radius: 100%;
    /* background-color: var(--cinza_escuro) */
    background: none;
}

.link .ripple-wave{
    --f7-touch-ripple-color: var(--cinza);
}

.navbar-inner .title{
    margin-left: 40px;
    margin-right: 40px;
}

.buttom-session{
    background: var(--vermelho);
    margin: 20px;
    border-radius: 20px;
    color: var(--branco);
    padding: 10px;
    text-align: left;
    font-size: large;
}

.buttom-session h4{
    margin: 0;
    font-weight: lighter;
}

.buttom-session h3{
    margin: 0;
}

#Options-Buttons-sessions{
    top: 680px;
}

#page-content-sessions{
    height: 92%;
}